$bg-color: #1F1D2B;

body {
  background: #252836;
}

.menu-item:hover {
  //background: #252836;
  background: #EA7C69;
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;


}
.container-2 {
  width: 1500px;
  margin: auto;
}
.content-radio {
  opacity: 0;
}

.nav-item {
  width: 92px;
  height: 102px;
}

.nav-item:hover {

}

.content-item {
  background: #1F1D2B;
  border-radius: 16px;
  width: 222px;
  height: 246px;
  position: relative;

}

.menu-item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 56px;
  height: 56px;
  margin: auto;

}

.nav-img {
  width: 19px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.toolbar {
  background: $bg-color;
  width: 104px;

}

.logo {
  background: #EB966A;
  opacity: 0.26;
  border-radius: 12px;
  width: 56px;
  height: 56px;
}

.container {
  width: 833px;
  margin: auto;
}

.content-block {
  height: 810px;
  width: 1024px;

  border-radius: 0;

}

.content-input {
  background: #2D303E;
  /* Base / Dark Line */
  padding: 15px 30px;
  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;

}

.content-item-img {
  margin-top: -20px;

}

.content-2 {
  display: none;
}
.content-1 {
  height:800px;
}
#cold:checked ~ .content-1 {
  display: none;

}

#cold:checked ~ .content-2 {
  display: flex;

}

.content-tab:checked ~ .content-tab {
  color: #EA7C69;

}

.content-tab {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  margin: 0 15px;
  /* White */

  color: #FFFFFF;
}

#soup:checked ~ .content-3 {
  display: flex;
}

#soup:checked ~ .content-2,
#soup:checked ~ .content-1 {
  display: none;
}

#grill:checked ~ .content-1,
#grill:checked ~ .content-3,
#grill:checked ~ .content-2, {
  display: none;
}
.content-3 {
  display: none;
}
#grill:checked ~ .content-4 {
  display: flex;

}
#orders {
  background: #1F1D2B;
  width: 409px;

}
.order-input {
  width: 48px;
  height: 48px;
  background: #2D303E;
}
.order-input2 {
  background: #2D303E;
  /* Base / Dark Line */

  border: 1px solid #393C49;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 20px;
  color: #FFFFFF;
}
.delete-btn {
  border: 1px solid #FF7CA3;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  margin-left: 60px;
}
